section:nth-child(4n+1) > h1 { 
	color: red;
}

article a {
	color: green;
}

article p + a {
	color: yellow;
}

article p + a:hover {
	color: blue;
}

span {
	border: 1px solid red;

	margin-top: 10px;
	margin-bottom: 10px;

	padding-top: 10px;
	padding-bottom: 10px;

	width: 300px;

	padding-right: 20px;
	padding-left: 20px;
}

#div {
	border: 1px solid green;
	padding: 10px;
	margin: 10px;

	/*height: 400px;*/
	width: 300px; 
}